* {
  margin: 0px;
}
.q {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  color: white;
  background-color: rgba(157, 200, 44, 1);
}
.w {
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: inherit;
  padding: 8px 8px;
  font-size: 12px;
  font-weight: 600;
  gap: 5px;
}
.e {
  width: 15px;
}
.r {
  display: flex;
  gap: 20px;
  align-items: center;
}
.t {
  font-size: 13px;
  font-weight: 100;
}
.u {
  display: flex;
  align-items: center;
  gap: 20px;
}
.i {
  border: none;
}
.o {
  background-color: rgba(232, 232, 232, 1);
  padding: 200px 100px;
  position: relative;
  display: flex;
  align-items: center;
}
.p {
  font-size: 48px;
  font-weight: 700;
}
.a {
  font-size: 18px;
  color: rgba(29, 28, 28, 0.7);
  font-weight: 100;
  margin-bottom: 40px;
}
.s {
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  width: 400px;
  background-color: rgb(241, 241, 241);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d {
  width: 15px;
  background-color: rgba(157, 200, 44, 1);
  padding: 10px;
  border-radius: 50%;
}
.f {
  position: absolute;
  left: 20px;
  width: 30px;
}
.g {
  position: absolute;
  width: 30px;
  right: 20px;
}
.h {
  position: absolute;
  right: 0px;
  bottom: -200px;
  width: 650px;
}
.j {
  position: absolute;
  top: 0px;
  right: 200px;
}
.k {
  font-size: 36px;
  font-weight: 700;
}
.l {
  padding: 300px 100px;
  text-align: center;
}
.x {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.z {
  font-size: 14px;
  font-weight: 100;
  color: rgba(41, 41, 41, 1);
}
.c{
    padding: 20px 60px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    width: 125px;
}
.v{
    font-weight: 900;
    font-size: 17px;
    margin: 5px 0px;
}
.b{
    text-align: left;
}
.n{
    display: flex;
    justify-content: space-between;
}
.m{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 200;
}
.q2{
    color: black;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 0px;
}
.w2{
    margin-top: 20px;
}